.MapButton {
  width: 20px;
  height: 20px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0.808);
  border: 1px solid rgba(252, 249, 249, 0);
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  box-shadow: 7px 7px 5px rgb(0 0 0 / 60%);
  
  &:hover {
    transform: scale(1);
    box-shadow: 7px 7px 5px rgb(0 0 0 / 60%);
    transition: 0.5s;

    background-color: rgb(255, 255, 255);
  }

  &:hover .MapButtonCityName {
    transition: 0.5s;
    background-color: rgb(240, 255, 255);
    box-shadow: 7px 7px 5px rgb(0 0 0 / 60%);
  }

}

.MapButtonCityName {
  position: absolute;
  left: 20px;
  top: -4px;
  font-size: 1.2rem;
  background-color: rgba(240, 255, 255, 0.808);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 5px 5px 3px rgb(0 0 0 / 40%);
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    background-color: rgb(240, 255, 255);
    box-shadow: 7px 7px 5px rgb(0 0 0 / 60%);
  }

}
