:global(.logofontgo) {
  //margin-bottom: 80vh;
  opacity: 1;
  height: 100px;
}

:global(.logofontgo2) {
  opacity: 0;
  transition: 1s;
  height: 100px;

  //margin-bottom: 80vh;
}

:global(.clickArea) {
  position: fixed;
/*   left: 10px;
  top: 10px; */

  top: 20px; //92hv
  left: 60px; //40vw
  // bottom: 0;
  // bottom: 9vh; //92hv
  // left: -40vw; //40vw
  display: none;
  z-index: 10;
  //border: 1px solid black;
  border-radius: 10%;
  background-color: rgba(128, 128, 128, 0.164);
  //transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: rgba(150, 149, 149, 0.521);
    cursor: pointer;
  }

  @media (max-width: 2560px) {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:global(.clickArea2) {
  position: fixed;
  bottom: 20px; //92hv
  left: 60px; //40vw
  display: none;
  //z-index: 5;
  transition: 0.2s;

  animation: burgtogo 0s forwards;
  animation-timing-function: ease-in;
  z-index: 10;

  @media (max-width: 2560px) {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes burgtogo {
  from {
    opacity: 0;
  }

  8% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

