.container {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.5rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
    .submit {
      // margin-left: 100px;
      align-self: center;
      height: 30px;
      width: 100px;
      background-color: inherit;
      border: solid black 1px;
    }
    .inputContainer {
      display: flex;
      flex-direction: column;
      .error {
        height: 1rem;
        line-height: 1rem;
        text-align: start;
        margin-left: 100px;
        font-size: 0.8rem;
        color: red;
      }
    }
    .label {
      margin-left: 100px;
      width: 300px;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .input {
        border: solid black 1px;
        height: 20px;
        width: 200px;
      }
      .input.message {
        margin-top: 4px;
        height: 100px;
        resize: none;
      }
    }
    .label.message {
      align-items: flex-start;
    }
  }
}
