.corporation {
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 10px;

  

  align-items: center;
  vertical-align: center;
  margin: 0px auto;
  padding-top: 10px;

  z-index: 5001;

  margin-top: -500px;
  

  //height: 10vh;
  
}

.corporation2 {
  margin-top: auto;
}


.corporationabout {
  font-family: "Avenir";
  display: flex;
  flex-direction: column;
  //width: 70rem;
  //height: 30rem;
  //background-color: rgba(255, 255, 255, 0.884);
  border-radius: 10px;
  padding: 10vh 25px 50px 25px;
  //z-index: -1;
  margin-top: 50px;
  width: 1000px;
  letter-spacing: 2px;
  //box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
/*     transition-delay: 5s;
  transition: 5s; */

  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 0.2s; /*Скорость перехода состояния элемента*/
  animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.1s; /* Задержка перед началом */

}

@keyframes show{
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
  }


  .project_one {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    opacity: 1;


}




.transparent {
    font-family: 'Marmelad';
    font-family: 'Russo One', sans-serif;
    //font-family: sans-serif;
    //font-family: 'Marmelad', sans-serif;
    //font-weight: bold;
    font-size: 33px;
    line-height: 50px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
    color: rgb(247, 244, 244);
    mix-blend-mode: multiply;
    padding: 10px 20px;
    display: inline-block;
    text-shadow: 0 0 8px rgba(0,0,0,5), 0 2px 4px rgba(0,0,0,0.7);
    text-align: center;
    user-select: none;
    z-index: 2;
}

.icons {
  display: inline;
  margin: 10px 10px -2px 0;
  width: 19px;
  height: 19px;
  transition-duration: 0.5s;
}

//SKA
//
//
//
//

$cadr-width: 100vw;
$card-height: 900px;

.container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  .nav {
    display: flex;
    width: 620px;
    height: 50px;
    z-index: 2;
    .button {
      z-index: 100;
      background: white;
      //border: 2px solid black;
      width: 80px;
      margin: 0 10px;
      transition: 1s;

      font-size: 1.5rem;
    color: black;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.685);
    color: black;
    font-size: 1.5rem;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 10px 0 10px;
    transform: skewX(-30deg);
    transition: 0.3s;
    //border-bottom: #294284 dotted 2px;
    //border-top: #294284 dotted 2px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
    transition-duration: 0.5s;



      &_active {
        background: #294284;
        color: white;
      }
      &:hover {
        background: #294284;
        color: white;
      }

      &:hover .icons {
        fill: white;
        transition-duration: 0.5s;
      }
      &_active .icons {
        fill: white;
        transition-duration: 0.5s;
      }
    }
  }

  .icons {
    display: inline;
    margin: 10px 10px -2px 0;
    width: 19px;
    height: 19px;
    transition-duration: 0.5s;
  }

  .link__text {
    font-family: "Avenir";
    font-family: 'Russo One', sans-serif;
    font-size: medium;
    transform: skewX(30deg);
  }

  .carousel {
    position: relative;
    width: $cadr-width;
    height: $card-height;
    
    overflow: auto;
    .first,
    .second,
    .third {
      width: $cadr-width;
      min-height: $card-height;
      position: absolute;
      top: 0;
      left: -200%;
      transition: 1s;




      &_active {
        left: 0;
      }
    }
  }
}

//oldstyles

.corporation {
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #f3f5fc;

  

  align-items: center;
  vertical-align: center;
  margin: -5px auto;
  padding-top: 10px;
  padding-bottom: 400px;

  z-index: 5001;
  

  //height: 10vh;
  
  &__navbar {
    display: flex;
    //position: fixed;
    top: 5px;
    //margin: 10px;
    //height: 10vh;
    z-index: 5001;

  }
  .corp {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.685);
    color: black;
    font-size: 1.5rem;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 10px 0 10px;
    transform: skewX(-30deg);
    transition: 0.3s;
    //border-bottom: #294284 dotted 2px;
    //border-top: #294284 dotted 2px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
    transition-duration: 0.5s;

    &_active {
      background: rgba(90, 115, 137, 0.938);
      color: white;
      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
      transition-duration: 0.5s;
    }

    &_active .icons {
      fill: white;
      transition-duration: 0.5s;
    }

    &_active .link__text {
      fill: white;
      transition-duration: 0.5s;
    }

    &:hover .link__text {
      fill: white;
      transition-duration: 0.5s;
    }


    .link__text {
      font-family: "Avenir";
      font-family: 'Russo One', sans-serif;
      font-size: medium;
      transform: skewX(30deg);


  
    }

    &:hover {
      //transform: skewX(-30deg) scale(1.1);
      background: rgba(90, 115, 137, 0.938);
      color: white;
    }

    &:hover .icons {
      fill: white;
      transition-duration: 0.5s;
    }

  }
}

.icons {
  display: inline;
  margin: 10px 10px -2px 0;
  width: 19px;
  height: 19px;
  transition-duration: 0.5s;
}



.title {
  display: block;
  text-align: center;
  background: rgba(206, 210, 221, 0.781) top center;  
  padding: 10px 10px;
  margin: 200px auto;
  width: 50%;
  height: 90px;
  border-radius: 10px;
}
