.corporation {
  display: flex;

  flex-direction: column;
  
  justify-content: center;
  gap: 10px;
  background-color: #f3f5fc;

  

  align-items: center;
  vertical-align: center;
  margin: -5px auto;
  padding-top: 10px;
  padding-bottom: 400px;

  z-index: 5001;
  

  //height: 10vh;
  
  &__navbar {
    display: flex;
    //position: fixed;
    top: 5px;
    //margin: 10px;
    //height: 10vh;
    z-index: 5001;

  }
  .corp {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.685);
    color: black;
    font-size: 1.5rem;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 10px 0 10px;
    transform: skewX(-30deg);
    transition: 0.3s;
    //border-bottom: #294284 dotted 2px;
    //border-top: #294284 dotted 2px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
    transition-duration: 0.5s;

    &_active {
      background: rgba(90, 115, 137, 0.938);
      color: white;
      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
      transition-duration: 0.5s;
    }

    &_active .icons {
      fill: white;
      transition-duration: 0.5s;
    }

    .link__text {
      font-family: "Avenir";
      font-family: 'Russo One', sans-serif;
      font-size: medium;
      transform: skewX(30deg);
    }

    &:hover {
      //transform: skewX(-30deg) scale(1.1);
      background: rgba(90, 115, 137, 0.938);
      color: white;
    }

    &:hover .icons {
      fill: white;
      transition-duration: 0.5s;
    }


  }
}

.icons {
  display: inline;
  margin: 10px 10px -2px 0;
  width: 19px;
  height: 19px;
  transition-duration: 0.5s;
}

/* .icons:hover {
  fill: white;
} */

.title {
  display: block;
  text-align: center;
  background: rgba(206, 210, 221, 0.781) top center;  
  padding: 10px 10px;
  margin: 200px auto;
  width: 50%;
  height: 90px;
  border-radius: 10px;
}