.corporation {
    display: flex;
    justify-content: center;
    gap: 10px;


    align-items: center;
    vertical-align: center;
    margin: 0 auto;
    

    width: 80%;
    height: 10vh;
    //background: rgba(252, 250, 250, 0.7);

    .corp {
    font-size: 1.5rem;
    color:black ;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.685);
    color: black;
    font-size: 1.5rem;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 10px;
    transform: skewX(-30deg);
    transition: 0.3s;
    //border-bottom: #294284 dotted 2px;
    //border-top: #294284 dotted 2px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
    
    &_active {
      background: #294284; 
      color: white;
      box-shadow: 3px 3px 2px rgba(0,0,0,0.6); 
    }

    .link__text {
      transform: skewX(30deg);
    }

    &:hover {
      //transform: skewX(-30deg) scale(1.1);
      background: rgba(90, 115, 137, 0.938); 
      color: white;
    }
  }
    }

// /134, 134, 155

    .arrow {
        border: 20px solid transparent; 
        //border-right: 50px solid #86869b;
        border-left: 50px solid rgba(90,115,137, 0.8);
        
        //border-radius: 5px;
    }