

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'),
         url('../../../assets/fonts/Avenir-LightOblique.woff2') format('woff2'), 
         url('../../../assets/fonts/Avenir-LightOblique.woff') format('woff'),
         //url('/fonts/font.ttf') format('ttf'),
         //url('/fonts/font.eot') format('eot');
  }

.corporationabout {
    font-family: "Avenir";
    display: flex;
    flex-direction: column;
    //width: 70rem;
    //height: 30rem;
    //background-color: rgba(255, 255, 255, 0.884);
    border-radius: 10px;
    padding: 10px 25px 50px 25px;
    z-index: -1;
    margin-top: 50px;
    width: 1000px;
    //box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 
/*     transition-delay: 5s;
    transition: 5s; */

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.2s; /*Скорость перехода состояния элемента*/
    animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.1s; /* Задержка перед началом */

}

@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }


.logo {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    perspective: 1000;
}

.logo:hover {
    transform: rotateY(180deg);
}

.title {
    font-family: 'Marmelad', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: rgb(90, 115, 137);
    //padding: 10px;
    //text-transform: uppercase;
    margin-top: 20px;
    
}

