.navbar {
  display: flex;
  .navbar__link {
    background: #b0b0d3;
    color: black;
    font-size: 1.2rem;
    display: block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    transform: skewX(-30deg);
    transition: 0.3s;
    .link__text {
      transform: skewX(30deg);
    }
    &:hover {
      transform: skewX(-30deg) scale(1.1);
    }
  }
}
